.container
  = form_tag :statistic_upload, multipart: true do
    = file_field_tag :file, accept: 'text/csv'
    = submit_tag 'Upload'

  - if @statistic.present?
    - if @statistic[:errors_count] > 0
      .alert Error rows count #{@statistic[:errors_count]}

    %table.table
      %thead
        %tr
          %th Date
          %th CardType
          %th SalesCount
      %tbody
        - @statistic[:csv_data].each do |element|
          %tr
            %td #{element['Date']}
            %td #{element['CardType']}
            %td #{element['SalesCount']}
    #columnchart_material{:style => "width: 100%; height: 500px;"}

:javascript
  google.charts.load('current', {'packages':['bar']});
  if($('#columnchart_material').length > 0) {
    google.charts.setOnLoadCallback(drawChart);
  }

  function drawChart() {
    var data = google.visualization.arrayToDataTable(#{@statistic[:chart].to_json.html_safe});

    var options = {
      chart: {
        title: 'Company Sales',
      },
      vAxes: {
        0: {title: 'Sales Count'}
      }
    };

    var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

    chart.draw(data, google.charts.Bar.convertOptions(options));
  };
